.jumbotron {
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	width: 60%;
	margin-left: 20%;
}

.form-control {
	margin-bottom: 5px;
}


.messages {
  transition: all linear 0.5s;
}

.ng-hide {
  height: 0;
}

